@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Calc Grades Bruh";
}

<body>
    <h2>Grade Calculator</h2>
    <form>
        <label>Enter Assignments Total %:</label>
        <input id="assignment" placeholder="%" />
        <br />
        <label>Enter Group Projects Total %:</label>
        <input id="project" placeholder="%" />
        <br />
        <label>Enter Quizzes Total %:</label>
        <input id="quiz" placeholder="%" />
        <br />
        <label>Enter Exams Total %:</label>
        <input id="exams" placeholder="%" />
        <br />
        <label>Enter Intex Total %:</label>
        <input id="intex" placeholder="%" />
        <br />
        <input type="submit" value="calculate" id="submitbutton" />
    </form>
    <script src="~/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="~/js/Javascripter.js"></script>
</body>