@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Calc Grades Bruh";
}

<body>
    <h2>Grade Calculator</h2>
    <form method="post">
        <label>Enter Assignments Total %:</label>
        <input id="assignment" name="assignment" placeholder="%" />
        <br />
        <label>Enter Group Projects Total %:</label>
        <input id="project" name="assignment" placeholder="%" />
        <br />
        <label>Enter Quizzes Total %:</label>
        <input id="quiz" name="quiz" placeholder="%" />
        <br />
        <label>Enter Exams Total %:</label>
        <input id="exams" name="exams" placeholder="%" />
        <br />
        <label>Enter Intex Total %:</label>
        <input id="intex" name="intex" placeholder="%" />
        <br />
        <input type="submit" name="submitbutton" value="calculate" id="submitbutton" />
    </form>

</body>